.hide {
  height: 0px;
  visibility: hidden;
}
.view {
  background: aqua;
  visibility: visible;
  z-index: auto;
  position: relative;
}

.big.view {
  height: 80vh;
  width: 70vw;
}
.small.view {
  height: 100%;
}

.collapse {
  &:not(.show) {
    display: none;
  }
}
.summary {
  display: flex;
}
.detail {
  display: block;
}
.list {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}
.none {
  display: none;
}
