.explore_list_button,
.explore_list_button_rev {
  text-align: center;
  display: flex;
  justify-content: center;
}

.explore_list_button a,
.explore_list_button_rev a {
  font-size: 28px;
  margin-top: 4px;
  margin-bottom: 4px;
  display: inline-block;
  border-radius: 25px;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  padding: 8px 22px;
}

.explore_list_button a,
.explore_list_button_rev a:hover {
  color: #fff;
  background-color: #22b3c1;
  border: 1px solid #22b3c1;
  font-size: 28px;
}

.explore_list_button a:hover,
.explore_list_button_rev a {
  background-color: #fff;
  color: #22b3c1;
  border: 1px solid #22b3c1;
  font-size: 28px;
}

.explore_list_button a:hover #myheart,
.explore_list_button_rev a #myheart,
.explore_list_button a:focus #myhear {
  color: #dc0345;
  font-size: 28px;
}

.explore_list_button_rev a:hover #myheart {
  color: #fff;
  font-size: 28px;
}

.explore_list_button a i.fa,
.explore_list_button_rev a:hover i.fa {
  color: #fff;
}

.explore_list_button a:hover i.fa {
  color: #22b3c1;
}

.explore_list_button a:link {
  font-size: 28px;
}
