.cardCover {
  margin: 100px;
  width: 600px;
  height: 800px;
  position: relative;
}

.cardCover .cardBody {
  background: #15181d;
  background-size: cover;
  display: inline-block;
  width: 600px;
  height: 800px;
  position: relative;
}
.cardCover #cardFrame {
  height: 100%;
  position: absolute;
  right: 0;
  z-index: 1;
}

.cardCover .cardBody .cardTop span {
  position: absolute;
  z-index: 10;
}
.cardCover .cardBody .cardTop .servername {
  background-color: #80808038;
  border-radius: 60px;
  opacity: 1;
  font-size: 24px;
  font-weight: 900;
  padding: 12px 20px;
  line-height: 36px;
  color: #fcfcfc;
  letter-spacing: -2px;
  top: 64px;
  right: 68px;
}

.cardCover.front .cardTop .class_mark {
  background: radial-gradient(
    circle,
    rgba(21, 24, 29, 0.1) 0%,
    rgba(21, 24, 29, 0) 100%
  );
  padding: 8px 15px 8px 15px;
  border-radius: 50%;
  width: 60px;

  z-index: 10;
  position: absolute;
  top: 88px;
  left: 52px;
}
.cardCover.front .cardTop .class_mark img {
  width: 72px;
}

.cardCover.back .cardBody .cardTop span {
  top: 36px;
  right: 36px;
}
.cardCover.back .cardBody .cardTop #back_logo {
  position: absolute;
  top: 24px;
  left: 24px;
  width: 60px;
}
.cardCover.back .cardBody .cardTop h3 {
  color: #fff;
  font-weight: 800;
  text-shadow: 2px 3px 4px #15181d;

  font-size: 30px;
  letter-spacing: -2px;
  text-align: left;
  margin-top: 32px;
  margin-left: 88px;
}

.cardMiddle {
  width: 100%;
  height: 100%;
  position: relative;
  color: #fff;
  padding: 0 40px;
}

.cardCover.back .cardMiddle {
  padding-top: 40px;
}

.cardMiddle .cardImgs {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardMiddle .cardImgs .cardCharacter {
  width: 100%;
  height: 100%;
  /* background-image: url(${imgRef.current}); */
  background-repeat: no-repeat;
  opacity: 1;
  background-position-x: -40px;
  background-position-y: 40px;
}

.cardMiddle .cardImgs .cardCharacter.aeromancer,
.cardMiddle .cardImgs .cardCharacter.artist {
  background-position-y: -40px;
}
.cardMiddle .cardImgs .cardCharacter.soulEater {
  background-position-x: 0px;
  background-position-y: 45px;
}
.cardMiddle .cardImgs .cardCharacter.slayer {
  background-position-x: -25px;
}
.cardCover .cardMiddle .engravings {
  position: absolute;
  top: 144px;
  right: 60px;
}
.cardMiddle .engravings li {
  width: 48px;
}
.cardMiddle .engravings .engraving {
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 8px;
}
.cardMiddle .engravings .engraving.empty {
  width: 48px;
  height: 48px;
  background-color: rgb(18, 18, 20);
  border-radius: 50%;
  margin-bottom: 8px;
}

.cardCover.back .cardMiddle .options_left .option_item {
  /* float: left; */
  /* display: contents; */
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.cardCover.back .cardMiddle .options_left .option_item img {
  width: 40px;
  height: 40px;
  /* position: absolute; */
  /* left: 0px; */
}
.cardCover.back .cardMiddle .options_left .option_item div {
  display: inline-block;
  margin-left: 10px;
  font-size: 20px;
}

.cardCover.back .cardMiddle .options_left .option_box {
  background-color: #80808038;
  border-radius: 6px;
  margin: 20px 8px;
  margin-top: 0px;
  font-size: 16px;
  font-weight: 700;
  height: 200px;
  overflow: hidden;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.cardCover.back .cardMiddle .options_left .option_box div:nth-child(3) {
  grid-column-start: 1;
  grid-column-end: 3;
}
.cardCover.back .cardMiddle .options_left .option_box div:nth-child(3) img {
  position: absolute;
  left: 20px;
}

.cardCover.back .cardMiddle .options_left .stats {
  font-size: 22px;
  font-weight: 700;
}
.cardCover.back .cardMiddle .options_left .stats .back_stats_bg {
  background-image: url("../../../public/assets/images/icons/card_back_stat_bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 40px;
  width: 100%;
  margin-bottom: 4px;
  margin-left: 12px;
  padding: 2px 0px 1px 28px;
  justify-content: center;
}

.cardCover.back
  .cardMiddle
  .options_left
  .stats
  .back_stats_bg
  span:first-child {
  float: left;
}
.cardCover.back
  .cardMiddle
  .options_left
  .stats
  .back_stats_bg
  .back_guildname {
  letter-spacing: -1.8px;
  font-size: 20px;
}

.cardCover.back .cardMiddle .options_left .engravings {
  position: static;
  margin-top: 10px;
}

.cardCover.back .cardMiddle .options_left .engravings ul {
  display: inline-flex;
}
.cardCover.back .cardMiddle .options_left .engravings ul li {
  margin-right: 4px;
}

.cardCover.back .cardMiddle .options_right .equipments ul li,
.cardCover.back .cardMiddle .options_right .accessory ul li {
  margin-bottom: 8px;
  position: relative;
}

.cardCover.back .cardMiddle .options_right .equipments ul li span,
.cardCover.back .cardMiddle .options_right .accessory ul li span {
  position: absolute;
  border-radius: 20px;
  padding: 0px 5px 2px 5px;
  line-height: 022px;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: -0.8px;
  background-color: #00ffff;
  color: #1d1e21;
}
.cardCover.back .cardMiddle .options_right .accessory ul li span {
  background-color: #f3ba26;
}
.cardCover.back .cardMiddle .options_right .accessory ul li span:nth-child(2) {
  top: 24px;
}

.cardCover.back .cardMiddle .options_right .equipments ul li .equipments_badge {
  right: -15px;
}
.cardCover.back .cardMiddle .options_right .accessory ul li .accessory_badge {
  right: 0px;
}
.cardCover.back
  .cardMiddle
  .options_right
  .equipments
  ul
  li
  #back_equipment_trans {
  width: 48px;
  height: 36px;
  position: absolute;
  top: 40px;
  left: 40px;
}
.cardCover.back .cardMiddle .options_right .equipments ul li div,
.cardCover.back .cardMiddle .options_right .accessory ul li div {
  background-color: #82786e;
  width: 100%;
  height: 8px;
}
.cardCover.back
  .cardMiddle
  .options_right
  .equipments
  ul
  li
  div
  .back_equipment_quality,
.cardCover.back
  .cardMiddle
  .options_right
  .accessory
  ul
  li
  div
  .back_accessory_quality {
  /* background-color: orange; */
  /* width: 80%; */
  height: 8px;
}

.cardMiddle .title {
  background: linear-gradient(
    0deg,
    rgba(71, 67, 67, 0.7) 40%,
    rgba(70, 69, 69, 0) 100%
  );
  width: 100%;
  height: 400px;
  position: absolute;
  bottom: 0;
  left: 0px;
  align-items: center;
  text-align: center;
  padding-top: 72px;
}

.cardMiddle .title h2 {
  color: #f7f7f7;
  font-weight: 800;
  text-shadow: 2px 3px 4px #15181d;

  font-size: 40px;
  letter-spacing: -2px;
  /* padding-right: 16px; */
}
.cardMiddle .title .titlename h2 {
  font-size: 24px;
}
.cardMiddle .title .nickname {
  margin-bottom: 20px;
}
.cardMiddle .title .nickname h2 {
  font-size: 40px;
}
.cardMiddle .title .lvl {
  display: flex;
  justify-content: center;
  margin-top: -21px;
  text-shadow: 2px 3px 4px #15181d;
  font-size: 24px;
  font-weight: 600;
  margin-right: -12px;
}
.cardMiddle .title .lvl .equipments_lvl {
  color: #fff;
  display: flex;
  padding: 0 10px;
  margin-left: -16px;
}
.cardMiddle .title .lvl .equipments_lvl sub {
  /* font-size: 12px; */
  line-height: 32px;
}
.cardMiddle .title .lvl .expedition_lvl {
  color: #fff;
  display: flex;
  padding: 0 10px;
  margin-left: -8px;
}
.cardMiddle .title .info {
  margin-top: 10px;
}
/* .cardMiddle .info_table_tr {
  font-size: 20px;
} */
.cardMiddle .title .info .info_table {
  color: #fff;
  text-shadow: 2px 3px 4px #15181d;
  font-size: 20px;
  padding: 0 48px;
}
.cardMiddle .title .info .info_table .info_table_tr {
  padding-right: 5px;
  padding-left: 5px;
}

.cardMiddle .title .info .info_table .info_table_td {
  font-size: 24px;
  font-weight: 550;
  letter-spacing: -2.3px;
}
.cardMiddle .title .info_icons {
  margin-top: 12px;
  /* width: 85%; */
  height: 80px;
}
.cardMiddle .title .info_icons .icons_table {
  color: #fff;
  overflow: hidden;
  height: 100%;
}

.cardMiddle .title .info_icons .icons_table .icons_table_tr {
  border-radius: 30%;
  /* background: radial-gradient(
    circle,
    rgba(99, 99, 29, 1) 50%,
    rgba(21, 24, 29, 0) 100%
  ); */
  position: relative;
  padding-left: 5px;
  padding-right: 5px;
}
/* .cardMiddle .title .info_icons .icons_table img {
  width: 70%;
} */

.cardMiddle .title .info_icons .icons_table .icons_table_tr .icons_table_badge {
  border-radius: 20px;
  padding: 0px 5px 5px 5px;
  line-height: 022px;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: -0.8px;

  position: absolute;
  bottom: 10px;
  right: 0px;

  background-color: #d73737;
  overflow: hidden;
}

.cardCover.back .cardBottom .card_awakename {
  color: #fff;
  background: #80808038;

  font-size: 24px;
  font-weight: 900;
  letter-spacing: -2px;

  position: absolute;
  left: 5%;
  bottom: 176px;

  border-radius: 8px;
  padding: 7px 16px;
}
.cardCover.back .cardBottom .card_container {
  width: 90%;
  padding: 10px 20px;
  background: #80808038;
  border-radius: 8px;
  position: absolute;
  left: 5%;
  bottom: 32px;
}
.cardCover.back .cardBottom .card_container .card_slot {
  padding: 0 4px;
  position: relative;
}
.cardCover.back .cardBottom .card_container .card_slot .card_grade {
  position: absolute;
  width: 93%;
  height: 100%;
}
.cardCover.back .cardBottom .card_container .card_slot .card_awake {
  position: absolute;
  width: 80%;
  left: 10%;
  bottom: 6%;
}
.cardCover.back .cardBottom .card_container .card_slot img:nth-child(3) {
  padding: 4px 1px 4px 2px;
}

#card_none {
  width: 79px;
  height: 116px;
  border: 1px #fff;
}

@media (min-width: 576px) {
  .card_container,
  .info,
  .cardMiddle {
    max-width: 100%;
  }
}
