.cardImg {
  margin: 100px;
  width: 600px;
  height: 800px;
}
.cardImg .cardBody {
  background: #15181d;
  background-size: cover;
  display: inline-block;
  width: 600px;
  height: 800px;
  position: relative;
}
.cardImg .cardBody #cardFrame {
  position: absolute;
  right: 0;
  z-index: 10;
}
.cardImg .cardBody .cardTop {
  /* width:  89px ; */
  height: 40px;
  position: absolute;
  z-index: 10;
  top: 46px;
  right: 60px;
  margin-top: 10px;
}
.cardImg .cardBody .cardTop .card_front_servername {
  background-color: #80808038;
  border-radius: 15px;
  opacity: 1;
  font-size: 20px;
  font-weight: 900;
  padding: 12px;
  line-height: 36px;
  color: #fff;
}
.cardMiddle {
  width: 100%;
  height: 100%;
  position: relative;
}
.cardMiddle .cardImgs {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardMiddle .cardImgs .cardCharacter {
  width: 100%;
  height: 100%;
  /* background-image: url(${imgRef.current}); */
  background-repeat: no-repeat;
  opacity: 1;
  background-position-y: 40px;
}
.cardMiddle .engraves {
  position: absolute;
  top: 120px;
  right: 60px;
}
.cardMiddle .engraves li {
  width: 40px;
}
.cardMiddle .engraves .card_front_engraves {
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 8px;
}
.cardMiddle .engraves .empty_engraving div {
  width: 48px;
  height: 48px;
  background-color: rgb(18, 18, 20);
  border-radius: 50%;
  margin-bottom: 8px;
}
.cardMiddle .card_front_title {
  background: linear-gradient(
    0deg,
    rgba(71, 67, 67, 0.7) 40%,
    rgba(70, 69, 69, 0) 100%
  );
  width: 100%;
  height: 400px;
  position: absolute;
  bottom: 0;
  left: 0px;
  align-items: center;
  text-align: center;
  padding-top: 116px;
}
.cardMiddle .card_front_title .class_mark #class_mark {
  padding-left: 10px;
  width: 88px;
  position: absolute;
  top: 32px;
  left: 56px;
}
.cardMiddle .card_front_title .nickname h3 {
  color: #fff;
  font-weight: 800;
  text-shadow: 2px 3px 4px #15181d;
  margin-bottom: 20px;
  /* padding-right: 16px; */
}
.cardMiddle .card_front_title .lvl {
  display: flex;
  justify-content: center;
  margin-top: -21px;
  text-shadow: 2px 3px 4px #15181d;
  font-size: 20px;
  font-weight: 600;
  margin-right: -12px;
}
.cardMiddle .card_front_title .lvl .card_front_equipments_lvl {
  color: #fff;
  display: flex;
  padding: 0 10px;
  margin-left: -16px;
}
.cardMiddle
  .card_front_title
  .lvl
  .card_front_equipments_lvl
  #card_front_equipments_lvl_decimal {
  font-size: 12px;
  align-self: center;
}
.cardMiddle .card_front_title .lvl .card_front_expedition_lvl {
  color: #fff;
  display: flex;
  padding: 0 10px;
  margin-left: -8px;
}
.cardMiddle .card_front_title .card_front_info {
  margin-top: 10px;
}
.cardMiddle .card_front_title .card_front_info .card_front_info_table {
  color: #fff;
  text-shadow: 2px 3px 4px #15181d;
  font-size: 16px;
  padding: 0 48px;
}
.cardMiddle
  .card_front_title
  .card_front_info
  .card_front_info_table
  .card_front_info_table_tr
  .card_front_info_table_td {
  font-size: 22px;
  font-weight: 550;
  letter-spacing: -2.3px;
}
.cardMiddle .card_front_title .card_front_icons {
  margin-top: 32px;
  width: 85%;
}
.cardMiddle .card_front_title .card_front_icons .card_front_icons_table {
  color: #fff;
}
.cardMiddle
  .card_front_title
  .card_front_icons
  .card_front_icons_table
  .card_front_icons_table_tr {
}
.cardMiddle
  .card_front_title
  .card_front_icons
  .card_front_icons_table
  .card_front_icons_table_tr
  .card_front_icons_table_badge {
  border-radius: 10px;
  background-color: #d73737;
  padding: 0 5px 2px;
  font-weight: 800;
  position: absolute;
  top: 330px;
  line-height: 22px;
}
.cardMiddle
  .card_front_title
  .card_front_icons
  .card_front_icons_table
  .card_front_icons_table_tr:nth-of-type(2)
  span {
  left: 230px;
}
.cardMiddle
  .card_front_title
  .card_front_icons
  .card_front_icons_table
  .card_front_icons_table_tr:nth-of-type(2)
  span:nth-of-type(2) {
  left: 254px;
}
.cardMiddle
  .card_front_title
  .card_front_icons
  .card_front_icons_table
  .card_front_icons_table_tr2 {
  margin-left: -16px;
}
.cardMiddle
  .card_front_title
  .card_front_icons
  .card_front_icons_table
  .card_front_icons_table_tr2
  .card_front_icons_table_badge {
  border-radius: 10px;
  background-color: #d73737;
  padding: 0 5px 2px;
  font-weight: 800;
  position: absolute;
  top: 330px;
  line-height: 22px;
}
.cardMiddle
  .card_front_title
  .card_front_icons
  .card_front_icons_table
  .card_front_icons_table_tr2
  #card_front_icons_card {
  /* width: 40px;
  height: 58px; */
  /* box-shadow:
    #fff 0 -1px 4px,
    #ff0 0 -2px 10px,
    #ff8000 0 -10px 20px,
    44px -38px 17px 50px rgba(0, 0, 0, 0); */
}
